body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9px;
  text-align: center;
}

.main {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav a {
  color: dimgray;
}

section, div, footer {
  border: 1px solid white;
}


.header {
  display: flex;
  position: fixed;
  top: 0;
  Left: 0;
  right: 0;
  height: 69px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

.head_elem, .head_elem span {
  margin: 10px;
}

.mission {
  background-image: url("resources/imgs/mission-background.jpg");
  height:700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mission_text {
  background-color: black;
  width: 100%;
}

.featuredtea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
}

img.tea_container {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
